* {
    box-sizing: border-box;
    font-family: "baloo_paaji_2regular";
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "baloo_paaji_2regular";
    src: url("../public/assets/fonts/baloopaaji2-regular-webfont.woff2")
            format("woff2"),
        url("../public/assets/fonts/baloopaaji2-regular-webfont.woff")
            format("woff");
    font-weight: normal;
    font-style: normal;
}

